/percona-cluster-pgsql-k8s/percona-postgresql-operator/
/percona-cluster-pgsql-k8s/percona-postgresql-operator/.git
/percona-cluster-pgsql-k8s/percona-postgresql-operator.github
/~
/percona-cluster-pgsql-k8s/secrets.yaml 
